#container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.signup-form {
 /*width: 300px;*/
}

mat-form-field {
  width: 300px;
}

.child {
  /*width: 200px;*/
  height: 200px;
  /*background-color: red;*/
}
#child1 {
  background-color: red;
}
#child2 {
  background-color: green;
}
#child3 {
  background-color: violet;
}
